<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.linuxtools.docker.ui.dockerComposeUpLaunchConfigurationType">
    <stringAttribute key="dockerConnection" value="Main Connection"/>
    <stringAttribute key="workingDir" value="/full-stact-learning"/>
    <booleanAttribute key="workingDirWorkspaceRelativeLocation" value="true"/>
</launchConfiguration>
